/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 20, 2016, 5:12:56 PM
    Author     : Tasos
*/

/*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~**~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*/
/*Basic Style*/
body,#header {margin: 0; padding: 0;}

body{ background-color: #d6d6d6; font-family: 'Muli', sans-serif; }

img_header_banner{ width: 200px; height: 100px; }

#header{
    background-color: #333333;
    margin-top: -20px;
    height: 100%;
    width: 100%;
}

#close_account_but, #logout_but{ display: none; }

.footer-default{ background-color: #333333; margin-bottom: -30px; }

.page-header_bottom { border-bottom:none; }

#footer_txt{ color: #ffb62f; }
/*============================================================================*/


/*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~**~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*/
/*Loader and his modal*/
.loadingModal{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    display: none;
}

#myLoader{
    position: absolute;
    left: 46%;
    top: 40%;
    z-index: 1;
    width: 60px;
    height: 60px;
}
/*============================================================================*/

/*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~**~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*/
/*Animation on container*/
.animated_container{
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s; /* Firefox < 16 */
    -ms-animation: fadein 0.5s; /* Internet Explorer */
    -o-animation: fadein 0.5s; /* Opera < 12.1 */
    animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/*============================================================================*/


/*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~**~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*/
/*Card Styles*/
#cardContainer{
    margin: 5px;
    padding: 5px;
    border: 1px solid #333333;
    border-radius: 10px;
    width: 333px;
    height: 200px;
}
/*============================================================================*/

/*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~**~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*/
/*General Styles*/
.welcome_txt_style{
    font-family: Arial Black, Gadget, sans-serif;
    text-shadow: -1px 0 #333333, 0 1px #333333, 1px 0 #333333, 0 -1px #333333;
    color: #d6d6d6;
}

.make_hide{ display: none; }

.btn_style{
    border-radius: 10px; 
    background-color: #333333; 
    color: white; 
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 2px;
    padding: 2px;
}

.success_msg{
    color: green;
}

.error_msg{
    color: red;
}

.cursor_pointer{
    cursor: pointer;
}

fieldset {
    border: #333333 1px solid;
}

legend{
    border-bottom: #333333 1px solid;
}

.legend_text{
    font-weight: bold;
}

.title_text{
    font-size: 18px;
}

.darkcolor{
    color: #333333;
}
/*============================================================================*/

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}